# Analysis Phase
In the analysis phase of this project, I use Python for data cleaning and SQL for in-depth analysis of the marketing campaign performance data. This combination allows for efficient data preparation and powerful analytical capabilities.

### Objectives
Data Cleaning with Python:

Utilize Python libraries such as Pandas and NumPy to identify and handle missing or inconsistent data. Standardize date formats and ensure budget and spend values are correctly formatted for analysis. Perform initial exploratory data analysis (EDA) to understand the structure and quality of the dataset. Data Analysis with SQL:

Load the cleaned dataset into a SQL database for advanced analysis. Compute essential metrics such as total spend, ROI, conversion rates, and cost per click (CPC). Use SQL queries to analyze these metrics, identifying trends, patterns, and anomalies. Segmentation and Comparison:

Segment campaigns by various attributes such as campaign name, start date, and budget range. Compare performance across different segments to determine the most effective campaign strategies. By leveraging Python for data cleaning and SQL for analysis, I aim to ensure that the data is accurately prepared and the insights derived are robust and actionable. This approach sets a solid foundation for the subsequent visualization phase using Tableau, enabling clear and informative presentations of the analysis results.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

In [3]:
import psycopg2
from sqlalchemy import create_engine, text

In [4]:
marketing = pd.read_csv(r"C:\Users\mmoki\OneDrive\Desktop\marketing_dataset\marketing_performance_dataset.csv")

In [5]:
marketing.head(100)

,id,name,start_date,end_date,budget($),spend($),impressions,clicks,conversions,roi,marketing_channel
0,1,Holiday Campaign,2023-02-01,2023-06-20,25833.40,19448.27,1592386,65365,1860,2.8,Influencer Marketing
1,2,Fall Discount,2024-09-15,2024-12-21,19137.38,8432.07,1204033,63168,3867,9.5,Content Marketing
2,3,Back to School,2023-04-27,2024-01-19,35207.88,22654.25,164919,96945,1059,4.0,Social Media
3,4,New Year Sale,2023-11-01,2024-07-30,16955.19,7839.91,1372603,75295,738,8.0,Content Marketing
4,5,New Year Sale,2024-02-06,2024-03-16,36916.30,33443.25,1801579,63920,4782,1.0,Display Ads
...,...,...,...,...,...,...,...,...,...,...,...
95,96,End of Season Sale,2023-03-25,2023-06-24,46904.50,27589.97,1122182,15350,3290,8.5,Content Marketing
96,97,Holiday Campaign,2023-08-07,2023-09-10,21686.18,21074.66,159935,26803,4607,6.7,Search Engine
97,98,Back to School,2023-11-21,2024-07-24,22823.45,7759.79,904854,12616,142,5.3,Content Marketing
98,99,Spring Promo,2023-12-01,2023-12-14,39285.91,23885.68,1476323,20510,2846,1.1,TV
99,100,Back to School,2023-09-22,2024-02-15,23206.28,20888.71,104807,18680,2021,5.9,Social Media

In [7]:
pd.set_option('display.max_rows', None)  # Show all rows without truncation
pd.set_option('display.max_columns', None)  # Show all columns without truncation

In [10]:
#Convert Start_date and End Date to datetime format
marketing['star_date'] = pd.to_datetime(marketing['start_date'], format='%Y-%m-%d')
marketing['end_date'] = pd.to_datetime(marketing['end_date'], format='%Y-%m-%d')

In [9]:
#Rename columns for better reading
marketing = marketing.rename(columns = {'spend($)': 'spend',
                                        'budget($)': 'budget',
                                       'marketing_channel': 'channel'})

In [14]:
marketing.to_csv('campaign_performance.csv', index= False)

In [12]:
db_params = {
    'host': 'localhost',
    'database': 'marketing',
    'user': 'postgres',
    'password': '2168165567'
}

In [13]:
db_params['database'] = 'marketing'
engine = create_engine(f'postgresql://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}/{db_params["database"]}')

In [15]:
## Define the file path for your CSV files
csv_files = {
    'campaign_performance': r"C:\Users\mmoki\OneDrive\Desktop\marketing_dataset\campaign_performance.csv"
}

In [16]:
# Loop through the CSV files and import them into PostgreSQL
for table_name, file_path in csv_files.items():
    df = pd.read_csv(file_path)
    df.to_sql(table_name, engine, if_exists='replace', index=False)

In [2]:
%load_ext sql

%sql postgresql://postgres:2168165567@localhost:5432/marketing

In [3]:
%%sql

SELECT *
FROM campaign_performance
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/marketing
10 rows affected.

[(1, 'Holiday Campaign', '2/1/2023', '6/20/2023', 25833.4, 19448.27, 1592386, 65365, 1860, 2.8, 'Influencer Marketing'),
 (2, 'Fall Discount', '9/15/2024', '12/21/2024', 19137.38, 8432.07, 1204033, 63168, 3867, 9.5, 'Content Marketing'),
 (3, 'Back to School', '4/27/2023', '1/19/2024', 35207.88, 22654.25, 164919, 96945, 1059, 4.0, 'Social Media'),
 (4, 'New Year Sale', '11/1/2023', '7/30/2024', 16955.19, 7839.91, 1372603, 75295, 738, 8.0, 'Content Marketing'),
 (5, 'New Year Sale', '2/6/2024', '3/16/2024', 36916.3, 33443.25, 1801579, 63920, 4782, 1.0, 'Display Ads'),
 (6, 'Fall Discount', '2/13/2024', '6/6/2024', 41789.08, 12188.91, 474971, 57169, 2100, 4.6, 'Social Media'),
 (7, 'Summer Sale', '7/19/2024', '8/23/2024', 38632.63, 21129.47, 1492705, 69683, 4064, 1.6, 'Content Marketing'),
 (8, 'Cyber Monday', '12/20/2023', '7/12/2024', 39339.0, 11493.35, 1323075, 47388, 2759, 3.4, 'Content Marketing'),
 (9, 'Black Friday', '1/18/2024', '6/17/2024', 22114.39, 15483.81, 704820, 74171, 1973, 6.2, 'Social Media'),
 (10, 'Fall Discount', '1/10/2024', '5/6/2024', 15102.3, 8036.49, 893466, 66719, 4900, 8.6, 'Affiliate Marketing')]

Here are my initial impressions:

We've got a lot of valuable data to work with. There are some key KPIs we can extract from this. I'll start by identifying the basic KPIs first.

In [4]:
%%sql

SELECT
EXTRACT(YEAR FROM CAST(start_date as DATE)) AS year,
name as campaign_name,
SUM(budget) as total_budget,
SUM(spend) AS total_spend,
SUM(impressions) AS total_impressions,
AVG(roi) as avg_roi,
(SUM(conversions) * 1.0 / SUM(clicks)) * 100 AS conversion_rate
FROM campaign_performance
GROUP BY 1, 2
ORDER BY 2,1

 * postgresql://postgres:***@localhost:5432/marketing
20 rows affected.

[(Decimal('2023'), 'Back to School', 1353144.3699999999, 811902.05, Decimal('45936181'), 5.602222222222223, Decimal('4.94143413316491276400')),
 (Decimal('2024'), 'Back to School', 1480426.5500000007, 804244.1799999999, Decimal('46121113'), 4.853061224489795, Decimal('4.77273115585044280500')),
 (Decimal('2023'), 'Black Friday', 1603070.5499999998, 846961.86, Decimal('53792338'), 6.18703703703704, Decimal('5.83666341998475117300')),
 (Decimal('2024'), 'Black Friday', 1526963.8600000006, 905845.18, Decimal('57685722'), 5.15090909090909, Decimal('5.15041420859988855100')),
 (Decimal('2023'), 'Cyber Monday', 1318578.0599999998, 737285.9, Decimal('50077824'), 6.159574468085107, Decimal('5.31237438289919483200')),
 (Decimal('2024'), 'Cyber Monday', 1736814.5400000003, 1047667.95, Decimal('56216242'), 5.44909090909091, Decimal('6.27030428377706018400')),
 (Decimal('2023'), 'End of Season Sale', 1658485.7499999998, 941169.7100000001, Decimal('49476573'), 5.460784313725491, Decimal('5.37674771177993728000')),
 (Decimal('2024'), 'End of Season Sale', 1462552.27, 896921.91, Decimal('49167754'), 5.305882352941177, Decimal('5.09093007648338477600')),
 (Decimal('2023'), 'Fall Discount', 1435324.5799999998, 821503.7899999999, Decimal('50396596'), 5.710869565217393, Decimal('4.83910353049118798300')),
 (Decimal('2024'), 'Fall Discount', 1100811.1400000001, 617878.0000000001, Decimal('48520233'), 5.442499999999999, Decimal('5.08451706469094947200')),
 (Decimal('2023'), 'Holiday Campaign', 1228385.31, 702377.9799999999, Decimal('36020793'), 6.525581395348838, Decimal('4.32944459754427865900')),
 (Decimal('2024'), 'Holiday Campaign', 1435225.3599999999, 804496.9099999999, Decimal('45146382'), 5.854716981132075, Decimal('5.30298073972522947800')),
 (Decimal('2023'), 'New Year Sale', 1278387.28, 737178.73, Decimal('40794142'), 5.863636363636363, Decimal('4.06602641342482531500')),
 (Decimal('2024'), 'New Year Sale', 1830366.97, 1148952.17, Decimal('55543283'), 5.15344827586207, Decimal('5.24002769870790459500')),
 (Decimal('2023'), 'Spring Promo', 1766090.0900000005, 1054242.7900000003, Decimal('59783145'), 5.499999999999998, Decimal('4.82556500048401556100')),
 (Decimal('2024'), 'Spring Promo', 1510120.0599999998, 998013.9499999996, Decimal('51131380'), 5.225999999999999, Decimal('4.30133582915000425400')),
 (Decimal('2023'), 'Summer Sale', 1536754.18, 889687.6699999998, Decimal('51023886'), 5.296296296296295, Decimal('5.38736540060570592100')),
 (Decimal('2024'), 'Summer Sale', 1406911.2300000004, 793980.9500000001, Decimal('49487263'), 5.440425531914894, Decimal('4.41661218916635413300')),
 (Decimal('2023'), 'Winter Clearance', 1692702.0799999996, 943319.7499999999, Decimal('51508773'), 4.986538461538462, Decimal('4.18135014383505703500')),
 (Decimal('2024'), 'Winter Clearance', 1440333.28, 781484.0, Decimal('54722596'), 5.539583333333334, Decimal('4.97421678998616633200'))]

Ordering the data by year and campaign name helps to illustrate the performance trends of each campaign over the two years. This approach reveals that nearly all campaigns have shown an increase in conversion rate, with the exceptions being the Spring Promo, Summer Sale, and Black Friday campaigns.

### Performance over different periods and identifying trends and patterns

Analyzing the performance over different periods allows us to delve deeper into the data, identifying trends and patterns that may not be immediately apparent. By examining how each campaign performed over multiple time periods, we can uncover insights into the effectiveness of our marketing strategies, customer behavior, and external factors influencing conversions

In [5]:
%%sql

-- Identifying the basic KPIs

WITH quarter_data AS (
    SELECT
        EXTRACT(YEAR FROM CAST(start_date AS DATE)) AS year,
        EXTRACT(QUARTER FROM CAST(start_date AS DATE)) AS quarter,
        SUM(spend) AS total_spend,
        SUM(impressions) AS total_impressions,
        SUM(clicks) AS total_clicks,
        SUM(conversions) AS total_conversions,
        AVG(roi) AS average_roi
    FROM campaign_performance
    GROUP BY 1, 2
)
SELECT 
    a.year,
    a.quarter,
    a.total_spend,
    b.total_spend AS previous_year_spend,
    (a.total_spend - b.total_spend) / b.total_spend * 100 AS spend_growth,
   -- a.total_impressions,
   -- b.total_impressions AS previous_year_impressions,
   -- (a.total_impressions - b.total_impressions) / b.total_impressions * 100 AS impressions_growth,
   -- a.total_clicks,
   -- b.total_clicks AS previous_year_clicks,
   -- (a.total_clicks - b.total_clicks) / b.total_clicks * 100 AS clicks_growth,
    a.total_conversions,
    b.total_conversions AS previous_year_conversions,
    (a.total_conversions - b.total_conversions) / b.total_conversions * 100 AS conversions_growth,
    a.average_roi,
    b.average_roi AS previous_year_roi,
    (a.average_roi - b.average_roi) / b.average_roi * 100 AS roi_growth
FROM 
    quarter_data a
LEFT JOIN 
    quarter_data b ON a.quarter = b.quarter AND a.year = b.year + 1
ORDER BY 
    1, 2;

 * postgresql://postgres:***@localhost:5432/marketing
8 rows affected.

[(Decimal('2023'), Decimal('1'), 2174246.6700000004, None, None, Decimal('367782'), None, None, 5.556737588652481, None, None),
 (Decimal('2023'), Decimal('2'), 2213551.99, None, None, Decimal('292551'), None, None, 5.62695652173913, None, None),
 (Decimal('2023'), Decimal('3'), 2024889.8099999998, None, None, Decimal('287617'), None, None, 5.764754098360654, None, None),
 (Decimal('2023'), Decimal('4'), 2072941.7600000005, None, None, Decimal('284705'), None, None, 5.912931034482759, None, None),
 (Decimal('2024'), Decimal('1'), 2078224.8800000004, 2174246.6700000004, -4.416324574616919, Decimal('304236'), Decimal('367782'), Decimal('-17.27817022040230353900'), 5.574789915966387, 5.556737588652481, 0.3248727697844074),
 (Decimal('2024'), Decimal('2'), 2307013.049999999, 2213551.99, 4.222221136988007, Decimal('326538'), Decimal('292551'), Decimal('11.61746157080303947000'), 4.917557251908396, 5.62695652173913, -12.607157476515907),
 (Decimal('2024'), Decimal('3'), 2119579.2099999986, 2024889.8099999998, 4.67627421168161, Decimal('332115'), Decimal('287617'), Decimal('15.47126908353817750700'), 5.546825396825396, 5.764754098360654, -3.7803642239871302),
 (Decimal('2024'), Decimal('4'), 2294668.06, 2072941.7600000005, 10.696214639431044, Decimal('348688'), Decimal('284705'), Decimal('22.47343741767794734900'), 5.343846153846157, 5.912931034482759, -9.6244126190182)]

Examining the outcomes of our query provides insight into the performance of campaigns across different quarters. It's evident that when our expenditure is higher, there is a noticeable increase in conversion growth compared to periods of lower spending.